extensions:
    FriendsOfPhpSpec\PhpSpec\CodeCoverage\CodeCoverageExtension:
        format:
            - clover
            - html
        output:
            html: build/coverage
            clover: build/coverage/phpspec.xml
            #php: build/logs/coverage_phpspec.php

suites:
    laravel_extension:
        namespace: Behat\LaravelExtension
        psr4_prefix: Behat\LaravelExtension