parameters:
	level: 5
	paths:
		- src
	excludes_analyse:
	    - src/Bridge/Http/ExceptionHandler.php
	inferPrivatePropertyTypeFromConstructor: true
	earlyTerminatingMethodCalls:
		PHPUnit\Framework\Constraint\Constraint:
			- fail
	ignoreErrors:
	    - '#Extension::registerDriverFactory#'
	    - '#Symfony\\Component\\HttpKernel\\Client not found#'
	    - '#NodeParentInterface::arrayNode#'
